.image {
	width: 70%;
}

.cards {
	position: relative;
	padding-bottom: 40px;
	border-bottom: 2px solid lightgray;
}

.description-card {
	background-color: orange;
	position: absolute;
	left: 50%;
	top: 40%;
	width: 500px;
	height: 300px;
	box-shadow: 10px 10px 5px #888888;

}

.patient-cards {
	position: relative;
	background-color: cornflowerblue;
	padding-bottom: 40px;
	border-bottom: 2px solid lightgray;
}

#skel {
	padding-left: 90px;
	z-index: 1;
	position: relative;
}

#fe {
	width: 100%;
}