.image {
	transition: all .3s;
	width:100%;
	height: auto;
}

.research {
	margin-top: 100px;
	margin-bottom: 100px;
}

.analyses-row {
	margin-top: 400px;
	margin-bottom: 300px;
}

.description {
	transition: all .3s;
	opacity: 0;
	color: black;
}

.analyses-row img:hover {
	transform: translate(0px, -40px);
}

.analyses-row img:hover .analyses-row .description {
	opacity: 1;
	transform: translate(0px, -40px);
}

.machine-row > div:first-child {
	opacity: 1;
	background-color: rgba(0,0,0,.4);
	color: white;
	padding: -10px;
}

.machine-row .image:hover .machine-row div:first-child{
	opacity: 11
}