
@font-face {
  font-family: 'Lane-Narrow';
  src: url('Lane-Narrow.eot?#iefix') format('embedded-opentype'),  url('Lane-Narrow.woff') format('woff'), url('Lane-Narrow.ttf')  format('truetype'), url('Lane-Narrow.svg#Lane-Narrow') format('svg');
  font-weight: normal;
  font-style: normal;
}
